body{
  backgro
}
.card{
  color: black;
  background-color:goldenrod;
  
}
.navbar-Menu::before{

a navbar-Menu :hover{
  background-color:increment;
  max-width: 1200px;

}
.container{
  max-width: 1200px;
  margin: auto;
  overflow: auto;
}
.navbar-toggler{
  float: right;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .column{
float: left;
width: 50%;
padding:10px;
  }